$bg-grey: #f9f9f9;
$active-grey: #f0f1f2;
$click-grey: #e5e5e5;

//背景颜色
$bg: rgba(255, 255, 255, 0.89);
//bg - fail
$bg-fail: #f2f2f2;

$text-grey: #cacaca;
$nav-grey: #a8a8a8b4;

//布局
$header: 60px;
$aside: 210px;

//
.ml_10 {
  margin-left: 10px;
}
.mr_10 {
  margin-right: 10px;
}
.mt_10 {
  margin-top: 10px;
}
.mb_10 {
  margin-bottom: 10px;
}
.pl_10 {
  padding-left: 10px;
}
.pr_10 {
  padding-right: 10px;
}
.pt_10 {
  padding-top: 10px;
}
.pb_10 {
  padding-bottom: 10px;
}

//超出文本省略....
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
