.ml_10 {
  margin-left: 10px;
}
.mr_10 {
  margin-right: 10px;
}
.mt_10 {
  margin-top: 10px;
}
.mb_10 {
  margin-bottom: 10px;
}
.pl_10 {
  padding-left: 10px;
}
.pr_10 {
  padding-right: 10px;
}
.pt_10 {
  padding-top: 10px;
}
.pb_10 {
  padding-bottom: 10px;
}

/* 超出文本省略....*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 盒子布局 flex*/
.flex-between-center {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-center-center {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  justify-content: center;
}
