$background-theme-color-1: #242427; //炫酷黑
$background-theme-color-2: #ec4141; //红
$background-theme-color-3: #67bffd; //蓝
$background-theme-color-4: #54c77b; //绿
$background-theme-color-5: #faa4c6; //粉
$background-theme-color-6: #f8cf7f; //金

//浅色 未定颜色
$background-theme-color-hover-1: rgba(#242427, 0.5); //炫酷黑
$background-theme-color-hover-2: rgba(#ec4141, 0.5); //红
$background-theme-color-hover-3: rgba(#67bffd, 0.5); //蓝
$background-theme-color-hover-4: rgba(#54c77b, 0.5); //绿
$background-theme-color-hover-5: rgba(#faa4c6, 0.5); //粉
$background-theme-color-hover-6: rgba(#f8cf7f, 0.5); //金

$theme-color: var(--theme, #ec4141);
$theme-color-text: var(--theme, #000000);
//黑暗模式还没有完善
